body{
    color:#FFFFFF;
    background-color:#22577a;
}

h1{
    display: inline-block;    
    color: #FFFFFF;
    background-color:#38a3a5;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    font-size: 32px;
    margin:100px;
    padding: 10px;
    
}
.etat-civil{
    display:inline-block;
    
    margin-left: 100px;
    
    
}
h2{
    display: inline-block;  
    color: #FFFFFF;
    background-color:#38a3a5;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    
    font-size: 20px;
    margin:5px;
    padding: 5px;
    }

    img{
        vertical-align:middle;
        transform:rotateY(180deg);
        border:2px solid;
        border-radius: 50px;
        color:#FFFFFF;       
    }

.competences-left{
    display:block;
}
.competences-right{
    display:block;
}
.sport-left{
    display:inline-block;
}
.sport-right{
    display:inline-block;
}

.culture-left{
    display:inline-block;     
}
.culture-right{
    display:inline-block;
}

.travel-left{
    display:inline-block;
   
}
.travel-right{
    display:inline-block;
    
}
